/* isPrime.css */
p {
  color: #44ace8;
}

fieldset {
  background-color: #d8d9da;
}

legend {
  margin-top: 37px;
  margin-bottom: 37px;
  margin: 0px;
}

#testPrimeNumber:hover {
  background-color: #44ace8;
}

#testPrimeNumber:focus {
  background-color: forestgreen;
}